.arena {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  &-fighters {
    display: flex;
    img {
      height: 300px;
    }
    &-left {
      margin-right: 50px;
    }
    &-right {
      &--img {
        transform: scaleX(-1);
      }
    }
  }
}

.show-arena {
  display: flex !important;
}

.hide-arena {
  display: none;
}
