.fighters {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 15px;
  @media (max-width: 750px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  &:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  &-image {
    height: 260px;
  }
}

.fighter .name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
  font-weight: bold;
}
