html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.showRoot {
  display: grid !important;
  animation: showRoot-animation 0.5s forwards;
}
@keyframes showRoot-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
