.loader {
  height: 4px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin-top: 5%;
  width: 50%;
  &:before {
    display: block;
    position: absolute;
    content: '';
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #ff5601;
    animation: loader-animation 2s linear infinite;
  }
}

@keyframes loader-animation {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
